
DL/MNIST_U-Net/checkpoints/model_epoch_1.pth
DL/MNIST_U-Net/checkpoints/model_epoch_10.pth
DL/MNIST_U-Net/checkpoints/model_epoch_2.pth
DL/MNIST_U-Net/checkpoints/model_epoch_3.pth
DL/MNIST_U-Net/checkpoints/model_epoch_4.pth
DL/MNIST_U-Net/checkpoints/model_epoch_5.pth
DL/MNIST_U-Net/checkpoints/model_epoch_6.pth
DL/MNIST_U-Net/checkpoints/model_epoch_7.pth
DL/MNIST_U-Net/checkpoints/model_epoch_8.pth
DL/MNIST_U-Net/checkpoints/model_epoch_9.pth
*.pth
*.tar
*.gz
DL/MNIST_U-Net/data/MNIST/raw/t10k-images-idx3-ubyte
DL/MNIST_U-Net/data/MNIST/raw/t10k-labels-idx1-ubyte
DL/MNIST_U-Net/data/MNIST/raw/train-images-idx3-ubyte
DL/MNIST_U-Net/data/MNIST/raw/train-labels-idx1-ubyte
*.xml
*.txt
*.jpg
DL/VocSeg_U-Net/data/VOCdevkit/VOC2012/SegmentationClass/2007_000042.png
*.png
